{% extends 'base.html' %}


{% block home %}active aria-current="page" {% endblock home %}
{% block body %}   


   
<div class="container my-5 mx-auto">



  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-3 text-center">
        <img src="/static/job4.jpg" 
                    class="rounded-circle img-fluid" style="width: 150px;">
        <h2 class="fw-normal text-center my-2">My Jobs</h2>
        <p>This is where you'll find jobs recommended and tailored just for you based on your searches!</p>
        <p><a class="btn btn-secondary" href="myJobs">View My Jobs &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3 text-center">
        <img src="/static/job5.jpg" 
        class="rounded-circle img-fluid" style="width: 150px; height:130px;">
        <h2 class="fw-normal text-center my-2">All Jobs</h2>
        <p>Look through all the Jobs we have available!</p>
        <br>
        <p><a class="btn btn-secondary" href="allJobs">View All Jobs &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3 text-center">
        <img src="/static/job6.jpg" 
                    class="rounded-circle img-fluid" style="width: 150px;height:130px;">
        <h2 class="fw-normal text-center my-2">My Skills</h2>
        <p>Some skills recommended just for you!</p> 
        <br>
        <p><a class="btn btn-secondary my-4" href="https://www.classcentral.com/">View Skills &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-3 text-center ">
        <img src="/static/job77.jpg" 
                    class="rounded-circle img-fluid" style="width: 150px;  height:130px;">
        <h2 class="fw-normal text-center my-2">My Scholarships</h2>
        <p>Scholarships you can apply to!</p> 
        <br>
        <p><a class="btn btn-secondary my-4" href="scholarships">View Scholarships &raquo;</a></p>
      </div><!-- /.col-lg-4 -->



</div>






<div class="container my-5">
  <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Why Us? <span class="text-body-secondary">We'll tell you why!</span></h2>
        <p class="lead"> "Easily answered by the personalized touch we bring to your job hunt. Our advanced algorithms analyze your skills, preferences, and career goals to curate a tailored list of opportunities, saving you time and ensuring a more precise match. </p>
      </div>
      <div class="col-md-5">
        <img src="/static/job7.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" >
      </div>
    </div>

    <hr class="featurette-divider">

   

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Checkmate! <span class="text-body-secondary">What sets us apart?.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img src="/static/job8.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500;" style="opacity: 0.9;" >
      </div>
    </div>

    <hr class="featurette-divider">
</div>







{% endblock body %}

